@media only screen and (max-width: 600px) {
    .menu a span {
      display: none;
    }

    .google.button {
        font-size: 75%;
        margin: 8px !important;
      }
  }

  .google.button {
    margin: 2px;
  }